@import url('https://fonts.cdnfonts.com/css/helvetica-2');

* {
    font-family: 'Helvetica', sans-serif;
}

.conteudo {
    width: 90%;
}

.flexCenterAlignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}